html,
body,
#react-root {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: darkgreen;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

pre {
    white-space: pre-wrap;
}
