html,
body,
#react-root {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
}

/* --------------------------------------------------------------------------------
App
-------------------------------------------------------------------------------- */

.App {
  text-align: center;
  background-color: #e1e4e4;
  width: 100dvw;
  height: 100dvh;
}

.App-header {
  background-color: darkgreen;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

pre {
  white-space: pre-wrap;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 10px;
  width: 600px;
  height: 325px;
  max-width: 80%;
  max-height: 75%;
  padding: 25px;
  margin: 0 auto 20px;
  margin-top: 40px;
  background-color: #efefef;
  border: 2px solid black;
  border-radius: 3px;
}

/* input {
  margin: 5px;
  margin-bottom: 10px;
} */

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

button {
  cursor: pointer;
}

/* --------------------------------------------------------------------------------
Home Page
-------------------------------------------------------------------------------- */

.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: #e1e4e4;
  width: 100dvw;
  height: 100dvh;
}

.HomeBigBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100dvw;
  height: 100dvh;
}

.HomeLeftBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 80%;
  border: 1px solid black;
}

.HomeRightBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 80%;
  border: 1px solid black;
}

/* --------------------------------------------------------------------------------
Schedule Page
-------------------------------------------------------------------------------- */

.SchedulePage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: #e1e4e4;
  width: 100dvw;
  height: 100dvh;
}

/* --------------------------------------------------------------------------------
About Page
-------------------------------------------------------------------------------- */

.AboutPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: #e1e4e4;
  width: 100dvw;
  height: 100dvh;
}

.AboutPage p {
  padding: 15px;
  font-size: larger;
}
