html,
body,
#react-root {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  background-color: #e1e4e4;
}

/* --------------------------------------------------------------------------------
App
-------------------------------------------------------------------------------- */

.App {
  text-align: center;
  background-color: #e1e4e4;
  width: 100dvw;
  height: 100dvh;
}

.App-header {
  background-color: darkgreen;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

pre {
  white-space: pre-wrap;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 10px;
  width: 600px;
  height: 325px;
  max-width: 80%;
  max-height: 75%;
  padding: 25px;
  margin: 0 auto 20px;
  margin-top: 40px;
  background-color: #efefef;
  border: 2px solid black;
  border-radius: 3px;
}

.formPanel button {
  margin-top: auto;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

button {
  cursor: pointer;
}

/* --------------------------------------------------------------------------------
Home Page
-------------------------------------------------------------------------------- */

.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: #e1e4e4;
  width: 100dvw;
  height: 100dvh;
}

.HomeBigBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100dvw;
  height: 100dvh;
}

.HomeSmallBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 80%;
  border: 1px solid black;
}

.HomeSmallBox img {
  width: 100%;
  border: 1px solid black;
}

/* --------------------------------------------------------------------------------
Schedule Page
-------------------------------------------------------------------------------- */

.SchedulePage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: #e1e4e4;
  width: 100dvw;
  height: 100dvh;
}

.TimeAvailable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid gray;
  height: 125px;
  width: 80%;
}

.TimeBox {
  height: 30%;
}

.TimeBox p {
  margin: 5px;
}

/* --------------------------------------------------------------------------------
About Page
-------------------------------------------------------------------------------- */

.AboutPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: #e1e4e4;
  width: 100dvw;
  height: 100dvh;
}

.AboutPage p {
  padding-right: 50px;
  padding-left: 50px;
  font-size: larger;
}

/* --------------------------------------------------------------------------------
Admin Page
-------------------------------------------------------------------------------- */

.Admin {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: #e1e4e4;
  width: 100dvw;
  height: 100dvh;
}

table {
  width: 85%;
  text-align: left;
}

table,
th,
td {
  border: 1px solid black;
  color: black;
  border-collapse: collapse;
  height: 2.15em;
}

th,
td {
  padding: 0.5em;
  min-width: 3.5em;
}

thead {
  background: #7a7a7a;
  color: #fcfcfc;
}

tbody tr:nth-child(odd) {
  background: #fcfcfc;
}

tbody tr:nth-child(even) {
  background: #dcdcdc;
}

/* --------------------------------------------------------------------------------
Footer
-------------------------------------------------------------------------------- */

footer {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border-top: 2px solid black;
  background-color: #7a7a7a;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
  background-color: #e1e4e4;
}

.Footer div {
  width: 155px;
}

.Footer h3 {
  border-bottom: 1px solid black;
}
