html,
body,
#react-root {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: darkgreen;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

pre {
  white-space: pre-wrap;
}

.aboutPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: #e1e4e4;
  width: 100dvw;
  height: 100dvh;
}

.aboutPage p {
  padding: 15px;
  font-size: larger;
}