.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: end;
  background-color: #353838;
  height: 12.5dvh;
}

.nav h1 {
  font-size: 10dvh;
  padding: 0;
}

.nav-title {
  /* font-size: 24px; */
  /* font-weight: 700; */
  color: #e1e0e0;
  padding: 10px 10px;
  margin: 0;
}

.nav-title:hover {
  color: #868a8a;
  cursor: pointer;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #353838;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #868a8a;
  cursor: pointer;
}

.smallNavBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
